<div class="container mx-auto w-full lg:w-1/2 p-4">
  <div class="grid grid-cols-7">
    <div class="font-bold p-2">銀行</div>
    <div class="font-bold col-span-2 p-2">支店</div>
    <div class="font-bold p-2">口座番号</div>
    <div class="font-bold p-2">残高</div>
    <div class="font-bold p-2">利用可能額</div>
    <div class="font-bold p-2">明細</div>
  
    <% @kouza.each do |kouza| %>
      <div class="p-2"><%= kouza.bank.kanji_name %></div>
      <div class="p-2 col-span-2"><%= kouza.shiten.kanji_name %></div>
      <div class="p-2"><%= kouza.bangou %></div>
      <div class="p-2"><%= kouza.zandaka %></div>
      <div class="p-2"><%= kouza.zandaka + 1000000 %></div>
      <a href="/meisai/<%= kouza.id %>" class="my-2 mx-4 p-1 bg-blue-500 hover:bg-blue-300 text-white rounded">照会</a>
    <% end %>
  </div>
</div>