<div class="grid grid-cols-4 bg-gray-200 rounded p-8">
  <div class="text-4xl col-span-3">残高一覧</div>
  <%= image_tag "money_satsutaba", class: "w-24 h-24" %>
</div>

<div class="text-4xl mt-8">普通預金</div>

<div class="mx-auto py-2">
  <div class="grid grid-cols-7 border-t-2 border-gray-200">
    <div class="font-bold p-2">銀行</div>
    <div class="font-bold col-span-2 p-2">支店</div>
    <div class="font-bold p-2">口座番号</div>
    <div class="font-bold p-2">残高</div>
    <div class="font-bold p-2">利用可能額</div>
    <div class="font-bold p-2"></div>
  </div>

  <% @kouza.each do |kouza| %>
    <div class="grid grid-cols-7 border-t-2 border-gray-200">
      <div class="p-2"><%= kouza.bank.kanji_name %></div>
      <div class="p-2 col-span-2"><%= kouza.shiten.kanji_name %></div>
      <div class="p-2"><%= kouza.bangou %></div>
      <div class="p-2"><%= kouza.zandaka %></div>
      <div class="p-2"><%= kouza.zandaka + 1000000 %></div>
      <a href="/meisai/<%= kouza.id %>" class="my-2 mx-4 p-1 bg-blue-500 hover:bg-blue-300 text-white text-xs text-center rounded">照会</a>
    </div>
  <% end %>
</div>
